// Flex 布局的公共样式

// 容器属性
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-column-row-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-item-center {
    align-items: center;
}

.align-item-start {
    align-items: flex-start;
}

.align-item-end {
    align-items: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-item {
    flex: 1;
}

.flex-item2 {
    flex: 2;
}

// 项目属性
.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-basis-auto {
    flex-basis: auto;
}

.flex-basis-0 {
    flex-basis: 0;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-basis-100 {
    flex-basis: 100%;
}

.flex-auto {
    flex: 1 1 auto;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-stretch {
    align-self: stretch;
}

.gap2 {
    gap: 2px;
}
.gap4 {
    gap: 4px;
}

.gap6 {
    gap: 6px;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 24px;
}
